Source: influxdb
Section: database
Priority: extra
Homepage: https://influxdata.com/time-series-platform/influxdb/
Maintainer: Ana Guerrero Lopez <ana-externe.guerrero@edf.fr>
Build-Depends: debhelper (>= 9),
               dh-systemd,
               golang-go,
Standards-Version: 3.9.8

Package: influxdb
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         adduser,
         lsb-base (>= 3.0-6)
Description: Scalable datastore for metrics, events, and real-time analytics
 InfluxDB is a time series, metrics, and analytics database. It’s written
 in Go and has no external dependencies. That means once you install it
 there’s nothing else to manage (such as Redis, ZooKeeper, Cassandra,
 HBase, or anything else). InfluxDB is targeted at use cases for DevOps,
 metrics, sensor data, and real-time analytics.

Package: influxdb-client
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: command line interface for InfluxDB
 InfluxDB is a time series, metrics, and analytics database. It’s written
 in Go and has no external dependencies. That means once you install it
 there’s nothing else to manage (such as Redis, ZooKeeper, Cassandra,
 HBase, or anything else). InfluxDB is targeted at use cases for DevOps,
 metrics, sensor data, and real-time analytics.
 .
 This package contains the command line interface.
