#!/usr/bin/make -f
# -*- makefile -*-

export GOPATH := $(CURDIR)/go
export REPO_PATH := $(GOPATH)/src/github.com/influxdata/influxdb
DEB_VERSION := $(shell dpkg-parsechangelog -ldebian/changelog --show-field Version)
DEB_NOEPOCH_VERSION := $(shell echo $(DEB_VERSION) | cut -d: -f2-)
DEB_UPSTREAM_VERSION := $(shell echo $(DEB_NOEPOCH_VERSION) | sed 's/-[^-]*$$//' | sed 's/[+~].*$$//')

%:
	dh $@ --with systemd


override_dh_auto_build:
	mkdir -p go/src/github.com/influxdata
	ln -s $(CURDIR) go/src/github.com/influxdata/influxdb

	cd $(REPO_PATH) && go build -o $(CURDIR)/build/influxd -ldflags="-X main.version=$(DEB_UPSTREAM_VERSION)" ./cmd/influxd
	cd $(REPO_PATH) && go build -o $(CURDIR)/build/influx -ldflags="-X main.version=$(DEB_UPSTREAM_VERSION)" ./cmd/influx
#	cd $(REPO_PATH) && go build -o $(CURDIR)/build/influx_tsm -ldflags="-X main.version=$(VERSION)" ./cmd/influx_tsm
#	cd $(REPO_PATH) && go build -o $(CURDIR)/build/influx_stress -ldflags="-X main.version=$(VERSION)" ./cmd/influx_stress

override_dh_auto_test:
